
.name{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
}

.headerWrapper{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin: 3vh;
    border-bottom: 1px solid grey;
    padding-bottom: 1vh;
}

.infoWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:3vh;
}

.info{
    font-family: 'Roboto Mono', monospace;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.info:hover{
    cursor: pointer;
}

.info a{
    color: black;
    text-decoration: none;
}

.copyPopUp{

}